#background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}
     #card {
         background: #fdfdfd;
         border-radius: 8px;
         box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
         margin: 6rem auto 8.1rem auto;
         width: 329px;
         padding: 2rem;
 }
     #card-content {
       padding: 12px 44px;
 }
 #card-title {
       font-family: "Raleway Thin", sans-serif;
       letter-spacing: 4px;
       padding-bottom: 23px;
       padding-top: 13px;
       text-align: center;
 }
 .underline-title {
       background: -webkit-linear-gradient(right, #00FFFF, #368BC1);
       height: 2px;
       margin: -1.1rem auto 0 auto;
       width: 89px;
 }
 a {
     text-decoration: none;
 }
 label {
     font-family: "Raleway", sans-serif;
     font-size: 11pt;
 }
 #forgot-pass {
     color: #3C565B;
     font-family: "Raleway", sans-serif;
     font-size: 10pt;
     margin-top: 3px;
     text-align: right;
 }
 .form {
     align-items: left;
     display: flex;
     flex-direction: column;
 }
 .form-border {
     background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
     height: 1px;
     width: 100%;
 }
 .form-content {
     background: #fbfbfb;
     border: none;
     outline: none;
     padding-top: 14px;
 }
 #signup {
     color: #2dbd6e;
     font-family: "Raleway", sans-serif;
     font-size: 10pt;
     margin-top: 16px;
     text-align: center;
 }
 #submit-btn {
     background: -webkit-linear-gradient(right, #C0C0C0, #2dbd6e);
     border: none;
     border-radius: 21px;
     box-shadow: 0px 1px 8px #24c64f;
     cursor: pointer;
     color: white;
     font-family: "Raleway SemiBold", sans-serif;
     height: 42.3px;
     margin: 0 auto;
     margin-top: 50px;
     transition: 0.25s;
     width: 153px;
 }
 #submit-btn:hover {
     box-shadow: 0px 1px 18px #24c64f;
 }
 
 #logo-desa {
     width: 10rem;
     display: block;
     margin: 0 auto 0 auto;
 }

 html{
	position: relative;
}
.navbar{
	height: 50px;
}
.icon h5 {
	color: #fff;
	margin-left: 500px;
}

.icon h5 i:nth-child(4){
	color: #fff;
}
.icon h5 i:nth-child(4):hover{
	color: black;
}

.icon h5 i em{
	color: #fff;
}
 .nav .nav-item  a{
	color: #fff;
	font-size: 12px;
}
.nav .nav-item  a:hover{
	background-color: grey;
}
.nav .nav-header{
	color: #666;
    background: #1a2226;
}

.col-md-8{
	margin-top: 70px;
}
.col-md-8 h3{
	font-size: 18px;
}

.display-4{
	font-weight: bold;
	padding-bottom: 3px;
}

.card{
	background-color: #605ca8
}

.card-title{
	font-family: sans-serif;
}

.card-text {
	font-size: 13px;
}

 .card a{
	text-decoration: none;
}

.card-body-icon{
	position: absolute;
	z-index: 0;
	top: 12px;
	right: 7px;
	opacity: 0.19;
	font-size: 80px;
}

.main {
    left: 15rem;
}

@media screen and (max-width: 480px) {
    .menu {
        display: none;
    }
    .main {
        left: 0;
    }
  }
  